<div class="settings-container">
    {{#side-menu-toggle}}
        <button type="button" class="btn menu-button">Menu</button>
    {{/side-menu-toggle}}
    <button type="button" class="btn settings-header-button">Cancel</button>
    <button type="button" class="btn settings-header-button">Reset to Defaults</button>
    <button type="button" class="btn settings-header-button">Save</button>
    <div class="clear"></div>
    <hr class="white-horizontal-rule"/>
    <hr class="light-horizontal-rule"/>
</div>
